.form__save-btn_inactive {
    width: 358px;
    height: 50px;
    margin: 23px auto 37px;
    border: none;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #ffffff;
    cursor: pointer;
    color: #C4C4C4;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    transition: 0.3s;
} 
@media all and (max-width: 600px) {
    .form__save-btn_inactive {
        max-width: 238px;
        height: 46px;
        margin: 15px auto 25px;
    }
}