.header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 45px auto 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}
@media all and (max-width: 425px) {
    .header {
        margin: 28px auto 0;
    }
}